@import url("http://fonts.googleapis.com/css?family=Montserrat");
/* line 5, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/_fazenda.scss */
#testeR7 {
  font-family: "Montserrat", Arial, serif;
  height: 100%;
  padding: 20px;
}
/* line 16, ../sass/_fazenda.scss */
#testeR7 .wrap {
  width: 342px;
  margin: 0 auto;
}
/* line 20, ../sass/_fazenda.scss */
#testeR7 .header {
  margin-bottom: 8px;
  position: relative;
  height: 200px;
}
/* line 24, ../sass/_fazenda.scss */
#testeR7 .header .logo {
  position: absolute;
  top: 10px;
  left: -30px;
  width: 185px;
  height: 194px;
  background: url("../images/sprite.png") no-repeat -82px -12px;
}
/* line 32, ../sass/_fazenda.scss */
#testeR7 .header .title {
  margin-top: 137px;
  float: right;
  padding-right: 5px;
  background: url("../images/sprite.png") no-repeat 280px -97px;
}
/* line 37, ../sass/_fazenda.scss */
#testeR7 .header .title h1 {
  font-size: 30px;
  line-height: 52px;
  letter-spacing: -3px;
  text-indent: 111px;
  width: 280px;
  background-color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 49, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank {
  padding-top: 5px;
  background: url("../images/sprite.png") no-repeat 0 -339px;
}
/* line 53, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists {
  padding-bottom: 5px;
  background: url("../images/sprite.png") no-repeat 0 515px;
}
/* line 56, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li {
  background-color: #fff;
  position: relative;
  height: 103px;
  display: block;
}
/* line 61, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li a {
  display: block;
  height: 100%;
  cursor: default;
}
/* line 66, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .image {
  float: left;
  position: relative;
}
/* line 69, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .image img {
  width: 80px;
  margin: 21px 7px 0 10px;
}
/* line 73, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .image .position {
  background: url("../images/sprite.png") no-repeat 4px -216px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
}
/* line 80, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .image .position span {
  font-size: 14px;
  position: absolute;
  top: 71px;
  left: 66px;
  font-weight: bold;
  color: #707070;
}
/* line 91, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .item2, #testeR7 .appFazendaRank .listArtists li .item4 {
  background-color: #f2f1f1;
}
/* line 94, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .item2 .position, #testeR7 .appFazendaRank .listArtists li .item4 .position {
  background: url("../images/sprite.png") no-repeat -128px -216px;
}
/* line 99, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .text {
  float: left;
  margin-top: 30px;
}
/* line 102, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .text h2 {
  color: #CE3A3C;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 26px;
}
/* line 108, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .text p {
  color: #909090;
  font-size: 12px;
}
/* line 114, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li a:hover {
  background-color: #CE3A3C;
}
/* line 118, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li a:hover .text h2 {
  color: #f2f1f1;
}
/* line 121, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li a:hover .text p {
  color: #330d0e;
}
/* line 126, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li a:hover .position {
  background: url("../images/sprite.png") no-repeat -257px -218px;
}
/* line 131, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .tooltip {
  visibility: hidden;
}
/* line 134, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent {
  position: absolute;
  left: 350px;
  top: 27px;
  width: 200px;
}
/* line 139, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent div {
  float: left;
  text-align: center;
  background-color: #fff;
}
/* line 144, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent h6 {
  background-color: #CE3A3C;
  color: #fff;
  text-transform: uppercase;
  line-height: 18px;
  font-size: 10px;
}
/* line 151, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent span {
  color: #909090;
  line-height: 31px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -3px;
}
/* line 159, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent .positive {
  width: 75px;
}
/* line 161, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent .positive h6 {
  border-right: 1px solid #8c8b8b;
}
/* line 164, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent .positive span {
  border-right: 1px solid #8c8b8b;
  display: block;
}
/* line 169, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent .negative {
  width: 100px;
}
/* line 171, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent .negative h6 {
  border-left: 1px solid #c57071;
}
/* line 175, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent .brdl, #testeR7 .appFazendaRank .listArtists li .percent .brdr {
  background: url("../images/sprite.png") no-repeat;
  height: 50px;
}
/* line 179, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent .brdl {
  width: 12px;
  background-position: -338px -14px;
}
/* line 183, ../sass/_fazenda.scss */
#testeR7 .appFazendaRank .listArtists li .percent .brdr {
  width: 7px;
  background-position: 0px -14px;
}

/* line 6, ../sass/main.scss */
body {
  background-color: #272727;
}
